@inject PersonService PersonService

@* 
	This component uses the PersonService which interacts with API endpoints that require authorization. 
*@

<div class="d-flex flex-column align-items-center m-4 p-2">
	<button @onclick="SendGetPerson" class="btn btn-primary">Get Person</button>
	@if (_receivedPerson != null)
	{
		<h1 style="@(_highlight ? "color: purple; font-weight: bold;" : "")">
			@(_receivedPerson.FirstName) @(_receivedPerson.LastName), Age @(_receivedPerson.Age)
		</h1>
	}
	<h1 style="color: red; font-weight: bold;">@PersonService.ResultMessage</h1>
</div>
@code {
	PersonModel? _receivedPerson;
	bool _highlight = false;

	async Task SendGetPerson()
	{
		_receivedPerson = await PersonService.GetRandomPersonAsync();

		_highlight = _receivedPerson != null && _receivedPerson.FirstName == "Maraki" && _receivedPerson.LastName == "Dimitroulaki";
	}
}
